@use "../base/variables";

.header {
    display: flex;
    margin: 0px 5%;
    height: 5em;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 4em;
}

.header__menu {
    display: inline-block;
}

.header__menu__item,
.header__menu__button {
    margin: 0 1em;
    font-family: variables.$font-second;
    font-size: variables.$font-size;
    color: variables.$color-second;
}

.header__menu__item:hover {
    color: variables.$color-third;
}

.header__underline {
    border-style: solid;
    margin-right: 85%;
    border-color: variables.$color-second;
}

