@use "../base/variables";

#banner {
    display: flex;
    margin: 3em 10%;
}

.banner__image {
    width: 100%;
    height: 28em;
}

.banner__image__picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner__image__shadow {
    width: 100%;
    height: 28em;
    background-color: variables.$color-third;
    z-index: -1;
    position: relative;
    top: -28.5em;
    left: -0.5em;
}

.banner__text {
    padding-left: 5%;
    font-family: variables.$font-second;
}

.banner__text__title {
    font-size: 3em;
    margin: 1em 0 0.5em 0;
}

.banner__text__introduction {
    font-size: variables.$font-size;
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 1.5em;
    font-weight: 300;
}

.banner__text__tags {
    font-size: 0.9em;
    margin-bottom: 3em;
    font-weight: 300;
}

.banner__button {
    color: variables.$color-first;
}

.texto__typewriter {
    width: 16em;
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.texto__typewriter__cursor {
    animation: typewriter 2s steps(40) 1s 1 normal both,
    cursor 800ms steps(40) infinite normal;
}

@keyframes typewriter {
    from {
          width: 0;
    }
    to {
          width: 7.5em;
    }
}

@keyframes cursor {
    from {
          border-right-color: rgba(0, 0, 0, 1);
    }
    to {
          border-right-color: transparent;
    }
}


