@use "../base/variables";

.button {
    border: 0.15em solid;
    border-radius: 0.4em;
    border-color: transparent;
    padding: 0.5em 0.5em;
    margin: -0.5em 0;
    background-color: variables.$color-third;
    color: variables.$color-first;
}

.button__skills {
    border: 0.15em solid;
    border-radius: 0.4em;
    border-color: variables.$color-first;
    padding: 0.5em 0.5em;
    margin-right: 0.5em;
    color: variables.$color-first;
}

.button:hover {
    color: variables.$color-third;
    border-color: variables.$color-third;
    background-color: variables.$color-first;
}

.button__skills--ouro:hover {
    color: gold;
    border-color: gold;
}

.button__skills--prata:hover {
    color: silver;
    border-color: silver;
}

.button__skills--bronze:hover {
    color: brown;
    border-color: brown;
}