@use "../base/variables";

#curriculo {
    background-color: variables.$color-third;
    display: flex;
    padding: 3em 10%;
    justify-content: space-between;
}

.curriculo__title {
    color: variables.$color-first;
    font-size: 1.5em;
    font-family: variables.$font-first;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    border-bottom: 2px solid variables.$color-first;
}

.curriculo__empregos,
.curriculo__estudos {
    color: variables.$color-first;
    line-height: 1.2em;
}

.curriculo__empregos__empresa,
.curriculo__estudos__curso {
    font-family: variables.$font-second;
}

.curriculo__empregos__funcao,
.curriculo__estudos__descricao {
    font-family: variables.$font-second;
    font-weight: 300;
    margin-bottom: 0.5em;
}