/* Cores */
$color-first: #f9fdff;
$color-second: #0f0c06;
$color-third: #5ab8c2;

/* Fontes */
$font-first: 'IBM Plex Mono', monospace;
$font-second: 'Roboto Mono', monospace;
$font-third: 'Contrail One', cursive;
$font-size: 1em;
